# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env
*.env

# IDE & Editor settings
.vscode/
.idea/
*.swp
*.swo

# Logs & databases
*.log
*.sqlite3

# MacOS
.DS_Store
