# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg
MANIFEST

# Virtual environment
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
# Virtualenv
bin/
include/
lib/
lib64/
share/
pyvenv.cfg
# pip
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env
*.env

# IDE & Editor settings
.vscode/
.idea/
*.swp
*.swo

# Logs & databases
*.log
*.sqlite3

# MacOS
.DS_Store
